ul.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  li {
    list-style-type: none;
  }
}

button.floating-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
